# 4.6 Task

#### In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

#### Importing libraries and Dataframes

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\ophab\OneDrive\Desktop\JESSICA\Careerfoundry JEJE\Data Immersion\09-2025 Instacart Basket Analysis'

In [3]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [4]:
df_orders_products_combined.shape

(32434489, 12)

#### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

Importing producs_checked.csv and checking shape and head

In [5]:
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [6]:
df_prods_checked.shape

(49672, 6)

In [7]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

'product_id' as KEY

In [10]:
df_ords_prods_merged = df_orders_products_combined.merge(df_prods_checked, on = 'product_id', indicator = 'merge_flag')

In [11]:
df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [12]:
df_ords_prods_merged.shape

(32404859, 18)

#### Confirm the results of the merge using the merge flag.

In [14]:
df_ords_prods_merged['merge_flag'].value_counts()

merge_flag
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
df_ords_prods_merged_check = df_orders_products_combined.merge(
    df_prods_checked,
    on='product_id',
    how='left',
    indicator='merge_flag')

In [20]:
df_ords_prods_merged_check['merge_flag'].value_counts()

merge_flag
both          32404859
left_only        30200
right_only           0
Name: count, dtype: int64

#### Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [21]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))